In [5]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                'Category':['A','B','C','A','B','C'],'Value':np.random.randint(1,5,size=6),
                'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
#Data grouping and Aggregation and grouping with one column sum
df1=df.groupby(('Name'),as_index=False)['Value']. sum()
print("\n Group and aggregate with one column:\n",df1)

 Original DataFrame:
       Name Category  Value  Score
0    Alice        A      1     71
1      Bob        B      4     86
2  Charlie        C      3     93
3    Alice        A      1     90
4      Bob        B      4     76
5  Charlie        C      1     79

 Group and aggregate with one column:
       Name  Value
0    Alice      2
1      Bob      8
2  Charlie      4

In [7]:
#data grouping and aggregation with two column 
df2=df.groupby(('Name'),as_index=False)[['Value','Score']]. sum()
print("\n Group and aggregate with two column:\n",df2)

 Group and aggregate with two column:
       Name  Value  Score
0    Alice      2    161
1      Bob      8    162
2  Charlie      4    172

In [8]:
#data grouping and aggregation and grouping with one column sum
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\n Group and aggregate with one column:\n",df3)

 Group and aggregate with one column:
       Name  Value
0    Alice      2
1      Bob      8
2  Charlie      4

In [12]:
#Group by Name and calculate multiple aggregation
df5=df.groupby('Name').agg({'Value':['sum','mean','min','max'],'Score':['sum','mean']})
print("\n Group by name and multiple aggregation :\n",df5)

 Group by name and multiple aggregation :
         Value              Score
          sum mean min max   sum  mean
Name
Alice       2  1.0   1   1   161  80.5
Bob         8  4.0   4   4   162  81.0
Charlie     4  2.0   1   3   172  86.0

In [13]:
df4=df.groupby(('Name'),as_index=False)['Value'].agg('max')
print("\n Group and aggregate with one column:\n",df4)

 Group and aggregate with one column:
       Name  Value
0    Alice      1
1      Bob      4
2  Charlie      3

In [16]:
#Group and count
df6=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and count:\n",df6)

 Group and count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [17]:
df7=df.groupby(('Name')).count()
print("\n Group and count:\n",df7)

 Group and count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [18]:
#Group and display from first value
df8=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
       Name  Value
0    Alice      1
1      Bob      4
2  Charlie      3

In [19]:
df9=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df9)

 Group and display from first:
         Category  Value  Score
Name
Alice          A      1     71
Bob            B      4     86
Charlie        C      3     93

In [20]:
df10=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n Group and display from first:\n",df10)

 Group and display from first:
       Name  Value
0    Alice      1
1      Bob      4
2  Charlie      1

In [21]:
df11=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df11)

 Group and display from last:
         Category  Value  Score
Name
Alice          A      1     90
Bob            B      4     76
Charlie        C      1     79

In [22]:
df12=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display from size:\n",df12)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [23]:
df13=df.groupby(('Name')).size()
print("\n Group and display size:\n",df13)

 Group and display size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64